---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import '/_sass/custom/customImport.scss';

@import 'minimal-mistakes/skins/dirt'; // skin
@import 'minimal-mistakes'; // main partials

@import '/_sass/custom/customOverride.scss';

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400'); // Nanum Gothic

// @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400') // Nanum Gothic Coding
