/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */

// $background-color: #252a34 !default;
// $text-color: #eaeaea !default;
// $primary-color: #00adb5 !default;
// $border-color: mix(#fff, $background-color, 20%) !default;
// $code-background-color: mix(#000, $background-color, 15%) !default;
// $code-background-color-dark: mix(#000, $background-color, 20%) !default;
// $form-background-color: mix(#000, $background-color, 15%) !default;
// $footer-background-color: mix(#000, $background-color, 30%) !default;
// $link-color: mix($primary-color, $text-color, 40%) !default;
// $link-color-hover: #f21368 !default;
// $link-color-visited: mix($primary-color, $text-color, 40%) !default;
// // mix(#000, $link-color, 25%) !default;
// $masthead-link-color: $text-color !default;
// $masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
// $navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
// $code-block-background: $background-color;

$background-image: linear-gradient(to left, #282C34 0%, #3F3F3F 50%, #282C34 100%);
// $background-image: linear-gradient(to left, #323232 0%, #3F3F3F 50%, #1C1C1C 100%);
// $background-image: linear-gradient(to left, #29323c 0%, #485563 100%);
// $background-color: #485563 !default;
$background-color: #282C34 !default;
$text-color: #eaeaea !default;
$primary-color: #B6A3DF !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: mix($primary-color, $text-color, 40%) !default;
$link-color-hover: #C778DD !default;
$link-color-visited: mix($primary-color, $text-color, 40%) !default;
// mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
$code-block-background: #1e293b;
$hover-color: #E06B74;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

// .page__content {
//   .notice,
//   .notice--primary,
//   .notice--info,
//   .notice--warning,
//   .notice--success,
//   .notice--danger {
//   }
//   .notice--primary {
//     background-color: #E5C07A;
//     color: #494738;
//   }
//   .notice--danger {
//     background-color: #e13615;
//     color: #eaeaea;
//   }

//   .notice--warning {
//     background-color: #E06B74;
//     color: #eaeaea;
//   }

//   .notice--success {
//     background-color: #98C379;
//     color: #494738;
//   }
//   .notice--info {
//     background-color: #62AEEF;
//     // #c9eeff
//     // background-color: #29414f;
//     color: #494738;
//   }
// }
.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    box-shadow: 0 5px 0 $text-color;
    border-radius: 15px;
}
  .notice--primary {
    background-color: #FFDF44;
    color: #494738;
  }
  .notice--danger {
    background-color: #e13615;
    color: #eaeaea;
  }

  .notice--warning {
    background-color: #FF843E;
    color: #eaeaea;
  }

  .notice--success {
    background-color: #85E88B;
    color: #494738;
  }
  .notice--info {
    background-color: #95C4E8;
    // #c9eeff
    // background-color: #29414f;
    color: #494738;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
