/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$background-color: #f3f3f3 !default;
$text-color: #40514e !default;
$muted-text-color: #40514e !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$primary-color: #f21368 !default;
$border-color: mix(#fff, #40514e, 75%) !default;
$footer-background-color: #282828 !default;
$link-color: $primary-color !default;
$link-color-hover: #00adb5 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;
$link-color-visited: $primary-color !default;
$code-block-background: hsl(220, 13%, 18%);
// mix(#000, $link-color, 25%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
  }
  .notice--primary {
    background-color: #ffeeca;
    color: #494738;
  }
  .notice--danger {
    background-color: #e13615;
    color: #eaeaea;
  }

  .notice--warning {
    background-color: #a63b00;
    color: #eaeaea;
  }

  .notice--success {
    background-color: #dff8d5;
    color: #494738;
  }
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
