/* ==========================================================================
   STYLE RESETS
   ========================================================================== */

* {
  box-sizing: border-box;
}

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: $type-size-A;

  @include breakpoint($medium) {
    font-size: $type-size-5
  }

  @include breakpoint($large) {
    font-size: $type-size-5
  }

  @include breakpoint($x-large) {
    // font-size: 16px;
    font-size: $type-size-5
  }

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Remove margin */

body {
  margin: 0;
}

/* Selected elements */

::-moz-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

/* Display HTML5 elements in IE6-9 and FF3 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* Display block in IE6-9 and FF3 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Prevents modern browsers from displaying 'audio' without controls */

audio:not([controls]) {
  display: none;
}

a {
  color: $link-color;
}

/* Apply focus state */

a:focus {
  @extend %tab-focus;
}

/* Remove outline from links */

a:hover,
a:active {
  outline: 0;
}

/* Prevent sub and sup affecting line-height in all browsers */

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* img border in anchor's and image quality */

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%; /* part 1: Set a maximum relative to the parent*/
  width: auto\9; /* IE7-8 need help adjusting responsive images*/
  height: auto; /* part 2: Scale the height according to the width, otherwise you get stretching*/

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Prevent max-width from affecting Google Maps */

#map_canvas img,
.google-maps img {
  max-width: none;
}

/* Consistent form font size in all browsers, margin changes, misc */

.quizSwitch {
  border-radius: 3px;
  border-style: underline;
  border-bottom: 2px dashed $hover-color;
  background-color: $text-color;
  padding: 0 5px;
  cursor: pointer;
  display: inline;
  transition: all 0.2s ease-in;
}

.quizSwitch:hover {
  box-shadow: 0 0 16px 3px rgba($text-color, 0.3);
}

.quiz-chek {
  display: none;
}

.quiz-chek:checked + .quizSwitch {
  background: $background-color;
}

strong {
  color: $hover-color;
  font-weight: 600;
}

.explain {
  color: #539165;
}

.subHeading {
  font-size: 1.15em;
}

.img {
  width: auto;
  max-height: 500px;
  object-fit: scale-down;
  transition: box-shadow 0.3s;
  border-radius: 7px;
  background-size: contain;
}

.img:hover {
  box-shadow: 5px 5px 10px 0px rgba($text-color, 0.7);
  // box-shadow: 0 14px 28px rgba($text-color, 0.25), 0 10px 10px rgba($text-color, 0.22);
}

.smallText {
  font-size: 0.8em;
}

details {
  border: 2px solid $primary-color;
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s;
}

details:hover {
  transform: translateX(0.3em);
}

details summary {
  color: $hover-color;
  transition: color 0.2s;
}

details summary:hover {
  color: $primary-color;
}

.notice,
.notice--primary,
.notice--info,
.notice--warning,
.notice--success,
.notice--danger {
  color: $text-color;
  transition: 0.2s;
}

.notice:hover,
.notice--primary:hover,
.notice--info:hover,
.notice--warning:hover,
.notice--success:hover,
.notice--danger:hover {
  transform: translateY(-0.25em);
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible; /* inner spacing ie IE6/7*/
  line-height: normal; /* FF3/4 have !important on line-height in UA stylesheet*/
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* inner padding and border oddities in FF3/4*/
  padding: 0;
  border: 0;
}

button,
html input[type="button"], // avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* corrects inability to style clickable `input` types in iOS*/
  cursor: pointer; /* improves usability and consistency of cursor style between image-type `input` and others*/
}

label,
select,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
input[type='radio'],
input[type='checkbox'] {
  cursor: pointer; /* improves usability and consistency of cursor style between image-type `input` and others*/
}

input[type='search'] {
  /* Appearance in Safari/Chrome*/
  box-sizing: border-box;
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none; /* inner-padding issues in Chrome OSX, Safari 5*/
}

textarea {
  overflow: auto; /* remove vertical scrollbar in IE6-9*/
  vertical-align: top; /* readability and alignment cross-browser*/
}
